.App {
  max-width: 1000px;
  margin: 4rem auto;
  padding-left: 2rem;
}

.item {
  margin: 1rem;
}
.contents {
  width: 300px;
  padding: 2rem;
  background: #edededed;
}

.item .title {
  font-size: 2rem;
  font-weight: bold;
}
